body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #DCA1FF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #a070c2; /* Cor semelhante ao fundo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    color: white;
    margin: 20px 0;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

iframe {
    width: 80vw;
    height: 80vh;
    border: 0;
}
