/* ALL */

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #a070c2; /* Cor semelhante ao fundo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


/* HOME */

.home {
    margin: 0;
    background-color: #DCA1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.home .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.home #logo {
    width: 150px;
}
.home .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 20px;
}
.home .grid-container2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 20px;
}
.home .grid-item {
    text-align: center;
    background-color: #9e55fd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .grid-item:hover {
    background-color: #8e3cfa; /* Tom mais escuro da cor #B380D4 */
}
.home .grid-item-old {
    text-align: center;
    background-color: #a35dff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.home a{
    text-decoration: none; color:white
}
.home  form {
    background: #be73f0;
    padding: 40px;
    border-radius: 8px;
    border: solid 1px black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    width: 300px; /* Largura fixa para garantir a consistência */
}
.home  input[type="text"], .home  input[type="password"], .home  input[type="email"], .home  input[type="tel"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.home  button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px black;
    color: white;
    background-color: #9e55fd;
    cursor: pointer;
    margin-top: 10px;
}
.home  button:hover {
    background-color: #8e3cfa;
}
.home  button[type="button"] {
    background-color: #8046cc;
}
.home  button[type="button"]:hover {
    background-color: #562696;
}
.home  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* MAPA */

.mapa {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #DCA1FF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mapa h1 {
    color: white;
    margin: 20px 0;
}
.mapa #map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mapa iframe {
    width: 80vw;
    height: 80vh;
    border: 0;
}

/* AGENDAMENTO / EMERGENCIA */

.ae{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #dca1ff; /* Cor de fundo como na imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ae .container {
    display: flex;
    align-items: center;
    background: #be73f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    
}
.ae .foto img {
    width: 200px;
    margin-right: 20px;
}
.ae form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ae input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background: #ffffff;
}
.ae button  {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    background-color: #9e55fd;
    cursor: pointer;
    border: none;
}
.ae button:hover {
    background-color: #8e3cfa;
}




#clinica{
    border: #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}


.container textarea {
    resize: none; /* Desabilita a capacidade de redimensionar a textarea */
    width: 92%; /* Garante que a textarea ocupe todo o espaço disponível */
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background: #ffffff;
}


.cadcli {
    padding: 10px;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 4px;
    color: white;
    background-color: #9e55fd;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px; /* Adiciona um espaçamento de 5px abaixo de cada botão */


}

.cadcli:hover {
    background-color: #8e3cfa;
}

.container button{
    margin-bottom: 5px; /* Adiciona um espaçamento de 5px abaixo de cada botão */


}
